@charset "utf-8";

.card__body {
  height: 350px;
  background-color: #191c1f;
}

img {
  transform: translate(0, 80px);
  border: 5px solid #276cb1;
  background: #191c1f;
  width: 200px;
  height: 200px;
}
