doctype html
html(lang="en")
    include includes/_head
    body.bg-dark.vh-100 
        .container-fluid
            .row 
                .container
                    section.col-4.offset-4
                        figure.m-0.d-block.w-100.text-center
                                img#profile_img.img-fluid.rounded-circle.user-select-none(src="img/male_avatar.png", alt="male_avatar")
                        section#card__body.rounded.text-white
                            .card_heading.w-100.text-center.d-flex.justify-content-center.align-items-center.flex-column.h-100.pt-5
                                button(type="button").btn.btn-secondary new !
                                h2.name.user-select-none.mt-3 Alitaba 
                                //- i.fa-solid.fa-venus
                                h4.location.user-select-none.my-3  Iran
                                h5.phone.user-select-none.my-3 +989037567362
            .row 
                .container 
                    .copyright.text-center.mt-5
                        p.text-white.user-select-none made with ❤ and ☕
    include includes/_scripts

